{% extends "account_base.html" %}
{% load i18n %}

{% block title %}{% trans "Restore password" %} - {{ block.super }}{% endblock %}

{% block extra_content %}
    <form id="restore_password" class="well" action="." method="post">{% csrf_token %}
        <div class="row">
            <div class="span12">
                <h3>{% trans "Forgotten password" %}</h3>
                {{ form.email.label_tag }}<div {% if form.email.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ form.email }}</div>
                {% if form.errors %}
                    <div class="">{{ form.email.errors }}</div>
                {% endif %}
                <input type="submit" form="restore_password" class="btn btn-primary" value="{% trans 'Send me an e-mail' %}" />
            </div>
        </div>
    </form>
{% endblock %}
