{% extends 'account_base.html' %}
{% load i18n %}

{% block title %}{% trans "Profile" %} - {{ block.super }}{% endblock %}
{% load thumbnail %}

{% block extra_content %}
    <p>{% trans "Your profile" %}</p>
    <div class="well">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        {% if profile.avatar %}
                        <div class=""><a href="{% url change_avatar %}">{% trans "Change" %}</a>/<a href="{% url crop_avatar %}">{% trans "Crop" %}</a> {% trans "your avatar" %}</div>
                        {% else %}
                        <div class=""><a href="{% url add_avatar %}">{% trans "Add" %}</a> {% trans "your avatar" %}</div>
                        {% endif %}
                        <div class=""><img src="{% thumbnail profile.avatar|default:'img/default.jpg' 100x100 %}" alt=""></div>
                    </div>
                    <div class="span3">
                        <div class=""><b>{% trans "Full name:" %}</b> {{ user.get_full_name }}</div>
                        <div class=""><b>{% trans "Email:" %}</b> {{ user.email }}</div>

                        <div class=""><b>{% trans "Address:" %}</b> {{ profile.address_1 }} {{ profile.address_2 }}</div>
                        <div class=""><b>{% trans "Postal code:" %}</b> {{ profile.postal_code }}</div>
                        <div class=""><b>{% trans "City:" %}</b> {{ profile.city }}</div>
                        <div class=""><b>{% trans "Country:" %}</b> {{ profile.country.name }}</div>
                        {% comment %}<div class=""><b>{% trans "Gender:" %}</b> {{ profile.gender }}</div>{% endcomment %}
                        <div class=""><b>{% trans "Date of birth:" %}</b> {{ profile.birth_day }}</div>
                        <div class=""><b>{% trans "Phone number:" %}</b> {{ profile.phone_number }}</div>
                    </div>
                    <div class="span3">
                    </div>
                    <div class="span3">
                        <div class="input"><a class="btn" href="/accounts/profile/edit/">{% trans "Edit profile" %}</a></div>
                        <div class="input"><a class="btn" href="/accounts/profile/delete/">{% trans "Delete profile" %}</a></div>
                        <div class="input"><a class="btn" href="/accounts/password/reset/">{% trans "Reset password" %}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
