{% extends 'account_base.html' %}
{% load i18n %}

{% block title %}{% trans "Accounts list" %} - {{ block.super }}{% endblock %}
{% load thumbnail %}

{% comment %}
{% load avatar_tags %}
{% endcomment %}

{% block extra_content %}
    <ul>
    {% for account in accounts %}
        <li style="vertical-align:top; text-align:center; max-width:100px; display:inline-block;">
            {% comment %}
            <div><a href="{% url view_profile account.pk %}">{% avatar account 100 %}</a></div>
            <div class=""><img src="{% thumbnail profile.avatar|default:'img/default.jpg' 100x100 %}" alt=""></div>
            <div><a href="{% url view_profile account.pk %}">{{ account.get_full_name }}</a></div>
            {% endcomment %}

            <div><a href="{% url view_profile account.pk %}">
                {% for profile in account.userprofile_set.all %}
                <img src="{% thumbnail profile.avatar|default:'img/default.jpg' 100x100 %}" alt="">
                {% empty %}
                <img src="{% thumbnail 'img/default.jpg' 100x100 %}" alt="">
                {% endfor %}
                <br/>{{ account.get_full_name }}
            </a></div>
        </li>
    {% empty %}
        <p>{% trans "There are no active accounts" %}</p>
    {% endfor %}
    </ul>
{% endblock %}
