{% extends 'account_base.html' %}
{% load i18n %}

{% block extra_content %}
    <div class="row">
        <div class="span12">
            <div class="well">
                <h3>{% trans "Passwort Reset Email Sent" %}</h3>
                <p>
                    {% blocktrans %}We sent you a password reset email to the email address {{ email }}. Please click on the link in the email we sent you to set a new password, so you can log in to Participe again.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

