{% extends 'account_base.html' %}
{% load i18n %}

{% block title %}{% trans "Log in" %} - {{ block.super }}{% endblock %}

{% block extra_content %}
    <form id="login_form" class="well" action="." method="post">{% csrf_token %}
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span4">
                        <p>{% trans "Please, login" %}</p>
                    </div>
                    <div class="span4">
                    </div>
                    <div class="span4">
                        {% if form.errors %}<p>{% trans "Sorry, you have entered wrong E-mail or Password" %}</p>{% endif %}
                        <p>{{ form.username.label_tag }}<p><div class="input">{{ form.username }}</div>
                        <p>{{ form.password.label_tag }}<p><div class="input">{{ form.password }}</div>
                        <div class="input"><span>Remember me</span> {{ form.remember_me }}</div>
                        
                        <div class="input"><input type="submit" class="btn-primary" value="{% trans 'login' %}" /></div>
                        <div class="input"><input type="hidden" name="next" value="{{ next|escape }}" /></div>

                        <div><a href="{% url socialauth_begin 'facebook' %}?{{ redirect_querystring }}">
                            <img src="{{ MEDIA_URL }}img/connect_light_medium_long.gif" border="0" alt="">
                        </a></div>
                        
                        <div><a href="{% url notify_forgotten_password %}">Forgot your password?</a></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
