{% extends 'account_base.html' %}
{% load i18n %}

{% block title %}{% trans "Edit profile" %} - {{ block.super }}{% endblock %}

{% block extra_content %}
    <style type="text/css">
        ul li {list-style: none;}
        #ui-datepicker-div {display: none;}
    </style>


    <form id="edit" action="." method="post">{% csrf_token %}
        <h2>{% trans "Edit profile" %}</h2>
        <div class="row">
            <div class="span5 well">
                <table>
                    {% for field in pform %}
                        <tr>
                            <th align="right">{{ field.label_tag }}</th>
                            <td>
                                <div {% if field.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ field }}{{ field.errors }}</div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="input"><input type="submit" form="edit" class="btn btn-primary" value="{% trans 'Save changes' %}" /></div>
            </div>
            <div class="well btn-group span5">
                {% if profile.avatar %}
                    <a class="btn" href="{% url change_avatar %}">{% trans "Change profile image" %}</a>
                {% else %}
                    <a class="btn" href="{% url add_avatar %}">{% trans "Add profile image" %}</a>
                {% endif %}
                <a class="btn" href="{% url reset_password %}">{% trans "Change password" %}</a>
                <a class="btn" href="{% url delete_profile %}">{% trans "Delete profile" %}</a>
            </div>
        </div>
    </form>

    <script>
        $(function() {
            options = {
                dateFormat: 'dd.mm.yy',
                changeYear: true,
                yearRange: "-100:",
                changeMonth: true
            }
            $('input[name=birth_day]').datepicker(options);
        });
    </script>
{% endblock %}
