{% extends 'account_base.html' %}
{% load i18n %}

{% block title %}{% trans "Sign up" %} - {{ block.super }}{% endblock %}
    
{% block extra_script %}
    {% comment %}
    <script type="text/javascript">
    function startConnect(){
        FB.login(function(response) {
            if (response.authResponse) {
                window.location = window.location +
                        '?access_token=' + response.authResponse.accessToken +
                        '&expires=' + response.authResponse.expiresIn +
                        '&signed_request=' + response.authResponse.signedRequest;
            }
        }, {scope: "{{ app_scope }}" })
    }
    </script>
    {% endcomment %}
{% endblock %}

{% block extra_content %}
    <style type="text/css">
        #ui-datepicker-div {display: none;}
    </style>

    <form id="signup" class="well" enctype="multipart/form-data" action="." method="post">{% csrf_token %}
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span6">
                        <p>{% trans "To participate in a challenge, you first need to sign-up for participe:" %}</p>
                        
                        {% comment %}
                        <a href="#" onclick="startConnect(); return false;">{% trans "Click to connect and authenticate with Facebook" %}</a>
                        <p>{{ fb_profile }}</p>
                        {% endcomment %}
                        
                        <a href="{% url socialauth_begin 'facebook' %}?{{ redirect_querystring }}">
                            <img src="{{ MEDIA_URL }}img/connect_light_medium_long.gif" border="0" alt="">
                        </a>
                    </div>
                    <div class="span6">
                        <table>
                            {% for field in uform%}
                            <tr>
                                <th>{{ field.label_tag }}</th>
                                <td><div {% if field.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ field }}{{ field.errors }}</div></td>
                            </tr>
                            {% endfor %}

                            {% for field in pform%}
                            <tr>
                                <th>{{ field.label_tag }}</th>
                                <td><div {% if field.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ field }}{{ field.errors }}</div></td>
                            </tr>
                            {% endfor %}
                        </table>
                        
                        <p>{% trans "By clicking register, you accept the" %} <a href="/tnc/">{% trans "terms and conditions" %}</a></p>
                        <div class="input"><input type="submit" form="signup" class="btn-primary" value="{% trans 'Sign-up for Participe' %}" /></div>
                    </div>
                </div>
            </div>        
        </div>     
    </form>

    <script>
        $(function() {
            options = {
                dateFormat: 'dd.mm.yy',
                changeYear: true,
                yearRange: "-50:",
                changeMonth: true
            }
            $('input[name=birth_day]').datepicker(options);
        });
    </script>

    {% comment %}
    <div id="fb-root"></div>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({appId: {{ fb_app_id }}, status: true, cookie: true, xfbml: true, oauth: true});

            window.setTimeout(function() {
                FB.Canvas.setAutoResize();
            }, 250);
        };

        (function() {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol +
                '//connect.facebook.net/ru_RU/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    </script>
    {% endcomment %}
{% endblock %}
