{% extends 'account_base.html' %}
{% load i18n %}

{% block title %}{% trans "Profile" %} - {{ block.super }}{% endblock %}
{% load thumbnail %}
{% load accounttags %}

{% block extra_script %}
<script type="text/javascript">
    $(window).load(function() {$('.thumbnail').height(Math.max.apply(null, $(".thumbnail").map(function () { return $(this).height();}).get()))});
</script>
{% endblock %}

{% block extra_content %}
    {% need_to_know_tag request account as need_to_know %}
    {% sum_of_hours_spent_tag account as sum_of_hours_spent %}

    <div class="row">
    {% if not need_to_know and profile.privacy_mode == PRIVACY_MODE.PARANOID %}
        <div class="span12">
            <div class="well">
                <span class="label label-warning">{% trans "The user's information is hidden because they are in paranoid mode" %}.</span>
            </div>
        </div>
    {% else %}
        <div class="span3">
            <div class="well">
                <img src="{{ profile.avatar|default:'img/default.jpg'|thumbnail_url:'span3_large' }}" alt="">
                <h2>{{ account.get_full_name }}</h2>
                {% if need_to_know %}
                    <address>
                        <p>
                            {{ profile.address_1 }}<br>
                            {% if profile.address_2 %}
                                {{ profile.address_2 }}<br>
                            {% endif %}
                            {{ profile.postal_code}} {{ profile.city }}<br>
                            {{ profile.country.name }}
                        </p>
                        <p>
                            {{ account.email }}<br>
                            {{ profile.phone_number}}<br>
                            {{ profile.birth_day }}
                        </p>
                    </address>
                {% endif %}

                {% if sum_of_hours_spent %}
                    <p>{% trans "Hours, spent in challenges" %}: <span class="badge">{{ sum_of_hours_spent }}</span></p>
                {% endif %}

                {% if account.social_auth.all and profile.fb_profile_link %}
                    <div class="input"><a href="#" link="{{ profile.fb_profile_link }}" onclick="open_fb_profile()" class="btn btn-info">FACEBOOK</a></div>
                {% endif %}

                {% if related_participated_challenges %}
                    <p class="note">
                        {{  user.first_name }} {% trans "has signed up to" %}
                        {% for challenge in related_participated_challenges %} <a href="{{ challenge.get_absolute_url }}">{{ challenge.name }}</a>{% if not forloop.last %} {% trans "and" %} {% endif %}{% endfor %}.
                    </p>
                {% endif %}

                {% if related_desired_challenges %}
                    <p class="note">
                        <span class="label label-warning">{% trans "User is waiting for confirmation on your challenge" %}:</span><br>
                        {% for challenge in related_desired_challenges %}
                            <a href="{{ challenge.get_absolute_url }}">{{ challenge.name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="span9">
            <div class="well">
                {% if participations_current %}
                    <h3>{% trans "Participates in challenges" %}</h3>
                    <ul class="thumbnails">
                        {% for participation in participations_current %}
                            <li class="span4">
                                <a class="thumbnail" href="{{ participation.challenge.get_absolute_url }}">
                                    <img src="{{ participation.challenge.avatar|default:'img/default.jpg'|thumbnail_url:'span4_thumb' }}" alt="{{ participation.challenge.name }}">
                                    <h4>
                                        {{ participation.challenge.name }}
                                    </h4>
                                    <p>
                                        <strong>{{ participation.challenge.start_date|date:"l j. F o" }}</strong><br>
                                        {{ participation.challenge.location }}
                                    </p>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if participations_acknowledged %}
                    <h3>{% trans "Participated challenges" %}</h3>
                    <ul class="thumbnails">
                        {% for participation in participations_acknowledged %}
                            <li class="span4">
                                <a class="thumbnail" href="{{ participation.challenge.get_absolute_url }}">
                                    <img src="{{ participation.challenge.avatar|default:'img/default.jpg'|thumbnail_url:'span4_thumb' }}" alt="{{ participation.challenge.name }}">
                                    <h4>
                                        {{ participation.challenge.name }}
                                    </h4>
                                    <p>
                                        <strong>{{ participation.challenge.start_date|date:"l j. F o" }}</strong><br>
                                        {{ participation.challenge.location }}
                                    </p>
                                    {% if need_to_know %}
                                    <blockquote>{{ participation.selfreflection_activity_text }}</blockquote>
                                    <blockquote>{{ participation.selfreflection_learning_text }}</blockquote>
                                    <blockquote>{{ participation.acknowledgement_text }}</blockquote>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if affiliated_organizations %}
                    <h3>{% trans "Affiliated with" %}</h3>
                    <ul class="thumbnails">
                        {% for organization in affiliated_organizations %}
                            <li class="span2">
                                <a class="thumbnail" href="{{organization.get_absolute_url }}">
                                    <img src="{{ organization.avatar|default:'img/default.jpg'|thumbnail_url:'span2_thumb'  }}" alt="{{ organization.name }}">
                                    <h4>
                                        {{ organization.name }}
                                    </h4>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

        {% if need_to_know %}
        {% if participations_cancelled_by_user %}
            <div class="well">
                <h3>{% trans "Participations, cancelled by user" %}</h3>
                <table class="table">
                    <tr>
                        <th>Challenge name</th>
                        <th>Date signed up</th>
                        <th>Date cancelled</th>
                        <th>Cancellation reason</th>
                    </tr>
                    {% for participation in participations_cancelled_by_user %}
                    <tr>
                        <td><a href="{{ participation.challenge.get_absolute_url }}">{{ participation.challenge.name }}</a></td>
                        <td>{{ participation.date_created }}</td>
                        <td>{{ participation.date_cancelled }}</td>
                        <td>{{ participation.cancellation_text }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        {% if participations_cancelled_by_admin %}
            <div class="well">
                <h3>{% trans "Participations, cancelled by challenge admin" %}</h3>
                <table class="table">
                    <tr>
                        <th>Challenge name</th>
                        <th>Date signed up</th>
                        <th>Date cancelled</th>
                        <th>Cancellation reason</th>
                    </tr>
                    {% for participation in participations_cancelled_by_admin %}
                    <tr>
                        <td><a href="{{ participation.challenge.get_absolute_url }}">{{ participation.challenge.name }}</a></td>
                        <td>{{ participation.date_created }}</td>
                        <td>{{ participation.date_cancelled }}</td>
                        <td>{{ participation.cancellation_text }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        {% endif %}
        </div>
    {% endif %}
    </div>

    <script type="text/javascript">
        function open_fb_profile(){
            var event = window.event || evt;
            event.preventDefault();
            if (!event.target) event.target = event.srcElement;

            redirect_to = event.target.getAttribute("link");
            window.open(redirect_to, "_blank").focus();
        }
    </script>
{% endblock %}
