{% extends 'account_base.html' %}
{% load i18n %}

{% block title %}{% trans "Sign up" %} - {{ block.super }}{% endblock %}
    
{% block extra_script %}
    {% comment %}
    <script type="text/javascript">
    function startConnect(){
        FB.login(function(response) {
            if (response.authResponse) {
                window.location = window.location +
                        '?access_token=' + response.authResponse.accessToken +
                        '&expires=' + response.authResponse.expiresIn +
                        '&signed_request=' + response.authResponse.signedRequest;
            }
        }, {scope: "{{ app_scope }}" })
    }
    </script>
    {% endcomment %}
{% endblock %}

{% block extra_content %}
    <style type="text/css">
        ul li {list-style: none;}
        #ui-datepicker-div {display: none;}
    </style>

    <form id="signup" class="well" enctype="multipart/form-data" action="." method="post">{% csrf_token %}
        <div class="row">
            <div class="span12">
                <h3>{% trans "Create a new account" %}</h3>
                <p>{% trans "This information is only visible to people who need to see it, and is private by default. To understand who can see what if this information, please read our Privacy Policy" %}</p>
                <table cellpadding="5">
                    {% for field in uform%}
                    <tr>
                        <th align="right">{{ field.label_tag }}</th>
                        <td>
                            <div {% if field.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ field }}{{ field.errors }}</div>
                        </td>
                    </tr>
                    {% endfor %}

                    {% for field in pform%}
                    <tr>
                        <th align="right">{{ field.label_tag }}</th>
                        <td><div {% if field.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ field }}{{ field.errors }}</div></td>
                    </tr>
                    {% endfor %}
                </table>
                
                <p>{% trans "By signing up, you accept the" %} <a href="/about/tnc/">{% trans "terms and conditions" %}</a>.</p>
                <div class="input"><input type="submit" form="signup" class="btn btn-primary btn-large" value="{% trans 'Sign up' %}" /></div>
            </div>
        </div>     
    </form>

    <script>
        $(function() {
            options = {
                dateFormat: 'dd.mm.yy',
                changeYear: true,
                yearRange: "-100:",
                changeMonth: true
            }
            $('input[name=birth_day]').datepicker(options);
        });
    </script>

    {% comment %}
    <div id="fb-root"></div>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({appId: {{ fb_app_id }}, status: true, cookie: true, xfbml: true, oauth: true});

            window.setTimeout(function() {
                FB.Canvas.setAutoResize();
            }, 250);
        };

        (function() {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol +
                '//connect.facebook.net/ru_RU/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    </script>
    {% endcomment %}
{% endblock %}
