{% extends 'account_base.html' %}
{% load i18n %}

{% block title %}{% trans "Edit profile" %} - {{ block.super }}{% endblock %}
    
{% block extra_content %}
    <style type="text/css">
        #ui-datepicker-div {display: none;}
    </style>

    <form id="edit" class="well" action="." method="post">{% csrf_token %}
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span6">
                        <p>{% trans "Edit your profile" %}</p>
                    </div>
                    <div class="span6">
                        <table>
                            {% for field in pform%}
                            <tr>
                                <th>{{ field.label_tag }}</th>
                                <td><div {% if field.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ field }}{{ field.errors }}</div></td>
                            </tr>
                            {% endfor %}
                        </table>
                        
                        <div class="input"><input type="submit" form="edit" class="btn-primary" value="{% trans 'Save changes' %}" /></div>
                    </div>
                </div>
            </div>        
        </div>     
    </form>

    <script>
        $(function() {
            options = {
                dateFormat: 'dd.mm.yy',
                changeYear: true,
                yearRange: "-50:",
                changeMonth: true
            }
            $('input[name=birth_day]').datepicker(options);
        });
    </script>
{% endblock %}
