{% extends 'account_base.html' %}
{% load i18n %}

{% block title %}{% trans "Log in" %} - {{ block.super }}{% endblock %}

{% block extra_content %}
    <form id="login_form" class="well" action="." method="post">{% csrf_token %}
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span4 offset2 centered-text">
                        <h3>{% trans "Sign in with Facebook" %}</h3>
                        <a href="{% url socialauth_begin 'facebook' %}?{{ redirect_querystring }}">
                            <img src="{{ MEDIA_URL }}img/facebook_logo.png" border="0" alt="{% trans "Sign in with Facebook" %}" width="200" height="200">
                        </a>
                    </div>
                    <div class="span4">
                        <h3>{% trans "Sign in with email address" %}</h3>
                        {% if form.errors %}<p>{% trans "Sorry, you have entered wrong E-mail or Password" %}</p>{% endif %}
                        <p>
                            {{ form.username.label_tag }}{{ form.username }}<br>
                            {{ form.password.label_tag }}{{ form.password }}<br>
                            {{ form.remember_me }}
                            {% trans "Keep me logged in" %}
                        </p>
                        
                        <p>
                        <input type="submit" class="btn btn-primary btn-large" value="{% trans 'Sign in' %}" />
                        <input type="hidden" name="next" value="{{ next|escape }}" />
                        </p>

                        <p>
                            <div class="btn-group">
                                <a class="btn" href="{% url notify_forgotten_password %}">{% trans "Lost your password?" %}</a>
                                <a class="btn" href="{% url signup %}">{% trans "No account yet?" %}</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
