{% extends 'base.html' %}
{% load i18n %}

{% block extra_script %}
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">  
    <li class=""><a href="/">{% trans "What is Participe?" %}</a></li>
    <li class=""><a href="{% url challenge_list %}">{% trans "Challenges" %}</a></li>
    <li class=""><a href="{% url organization_list %}">{% trans "Organizations" %}</a></li>
    <li class=""><a href="{% url challenge_create %}">{% trans "Create a Challenge" %}</a></li>
</ul> 

<div class="main_container">
    {% block extra_content %}
    {% endblock %}
</div>
{% endblock %}
