{% extends 'account_base.html' %}
{% block title %}Log in - {{ block.super }}{% endblock %}

{% block extra_content %}
    {% if form.errors %}
    <p class="error">Sorry, you have entered wrong Username or Password</p>
    {% endif %}

    <form action='.' class="well" method='post'>{% csrf_token %}
        <label for="username">Login:</label><input type="text" name="username" value="" id="username">
        <label for="password">Password:</label><input type="password" name="password" value="" id="password">

        <input type="submit" class="btn-primary" value="login" />
        <input type="hidden" name="next" value="{{ next|escape }}" />
    </form>
{% endblock %}
