{% extends 'account_base.html' %}
{% load i18n %}

{% block title %}{% trans "Profile" %} - {{ block.super }}{% endblock %}
{% load thumbnail %}

{% block extra_content %}
    <p>{% trans "User profile" %}</p>
    <div class="well">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        <div class=""><img src="{% thumbnail profile.avatar|default:'img/default.jpg' 100x100 crop %}" alt=""></div>
                    </div>
                    <div class="span3">
                        <div class=""><b>{% trans "Full name:" %}</b> {{ account.get_full_name }}</div>
                        <div class=""><b>{% trans "City:" %}</b> {{ profile.city }}</div>
                        <div class=""><b>{% trans "Country:" %}</b> {{ profile.country.name }}</div>
                        {% if account.contact_chl_set.all or account.contact_org_set.all %}
                            <div class=""><b>{% trans "Email:" %}</b> {{ account.email }}</div>
                            <div class=""><b>{% trans "Phone number:" %}</b> {{ profile.phone_number }}</div>
                        {%endif%}
                    </div>
                    <div class="span3">
                        <b>{% trans "Participated challenges:" %} </b>
                        {% for challenge in account.contact_chl_set.all %}
                            <a href="{{ challenge.get_absolute_url }}">{{ challenge.name }}</a>
                            {% if not forloop.last %}<p>, </p>{% endif %}
                        {% empty %}
                            <p>{% trans "Nope" %}</p>
                        {% endfor %}
                    </div>
                    <div class="span3">
                        <b>{% trans "Participated organizations:" %} </b>
                        {% for organization in account.contact_org_set.all %}
                            <a href="{{ organization.get_absolute_url }}">{{ organization.name }}</a>
                            {% if not forloop.last %}<p>, </p>{% endif %}
                        {% empty %}
                            <p>{% trans "Nope" %}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
