{% extends 'base.html' %}
{% block title %}Sign up - {{ block.super }}{% endblock %}

{% block content %}
<div class="" style="width:100%; min-height: 200px; border: 1px solid navy;">
    <form action="/signup/" method="post">{% csrf_token %}
        <div class="fieldWrapper">
        <table>
            <tr>
                <td style="width: 60%;"><table>
                    <tr><td>To participate in a challenge, you first need to sign-up for participe:</td></tr>
                </table></td>
                <td style="width: 10%;"><table>
                    <tr><td>Avatar</td></tr>
                </table></td>
                <td style="width: 30%;"><table>
                    <tr><th></th><td>{{ uform.username }}{{ uform.username.errors }}</td></tr>
                    <tr><th></th><td>{{ uform.first_name }}{{ uform.first_name.errors }}</td></tr>
                    <tr><th></th><td>{{ uform.last_name }}{{ uform.last_name.errors }}</td></tr>
                    <tr><th></th><td>{{ uform.email }}{{ uform.email.errors }}</td></tr>
                    <tr><th></th><td>{{ uform.password }}{{ uform.password.errors }}</td></tr>
                    <tr><th></th><td>{{ uform.retry }}{{ uform.retry.errors }}</td></tr>
                    <tr><th></th><td>{{ pform.address_1 }}{{ pform.address_1.errors }}</td></tr>
                    <tr><th></th><td>{{ pform.address_2 }}{{ pform.address_2.errors }}</td></tr>
                    <tr><th></th><td>{{ pform.postal_code }}{{ pform.postal_code.errors }}</td></tr>
                    <tr><th></th><td>{{ pform.city }}{{ pform.city.errors }}</td></tr>
                    <tr><th></th><td>{{ pform.country }}{{ pform.country.errors }}</td></tr>
                </table></td>
            </tr>
            <tr>
                <td><table>
                </table></td>
                <td><table>
                </table></td>
                <td><table>
                    <tr><th>Gender</th><td>{{ pform.gender }}</td></tr>
                    <tr><th>Date of birth</th><td>{{ pform.birth_day }}</td></tr>
                    <tr><th></th><td>{{ pform.phone_number }}</td></tr>
                    <tr><th>Receive newsletters</th><td>{{ pform.receive_newsletter }}</td></tr>
                </table></td>
            </tr>
            <tr>
                <td><table>
                </table></td>
                <td><table>
                </table></td>
                <td><table>
                    <input type="submit" value="Sign-up for Participe" />
                </table></td>
            </tr>
        </table>
        </div>
    </form>
</div>
{% endblock %}
