# Required modules
Django>=1.4.2
South==0.7.6
Fabric==1.5.1
psycopg2==2.4.5
#boto==2.6.0
django-countries==1.5
django-social-auth==0.7.10
django-templated-email==0.4.7
pil==1.1.7
#django-avatar==1.0.5
-e git+git://github.com/eldarion/django-avatar.git#egg=avatar
