Django==1.4.2
Fabric==1.5.1
Pillow==1.7.8
South==0.7.6
Werkzeug==0.8.3
amqp==1.0.9
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.22
celery==3.0.16
django-auth-remember==0.3
django-celery==3.0.11
django-countries==1.5
django-extensions==1.0.3
django-flatpages-i18n==0.1.2
django-kombu==0.9.4
django-modeltranslation==0.6.1
django-simple-captcha==0.3.4
django-social-auth==0.7.10
django-templated-email==0.4.7
easy-thumbnails==1.1
httplib2==0.7.7
importlib==1.0.2
kombu==2.5.7
oauth2==1.5.211
ordereddict==1.1
paramiko==1.9.0
psycopg2==2.4.5
pycrypto==2.6
pysftp==0.2.2
python-dateutil==1.5
python-openid==2.2.5
pytz==2012j
uWSGI==1.9.13
wsgiref==0.1.2
