{% extends 'home_base.html' %}
{% load i18n %}

{% block extra_content %}
    <div class="hero-unit centered-text">
        <h3>{% trans "Let's change the world. Together." %}</h3>
        <video width="400" height="300" controls="controls" poster="video/duel.jpg">
            <source src="video/duel.ogv" type='video/ogg; codecs="theora, vorbis"'>
            <source src="video/duel.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            <source src="video/duel.webm" type='video/webm; codecs="vp8, vorbis"'>
            {% trans "Tag 'video' not supports with your browser." %} <a href="video/duel.mp4">{% trans "Download video" %}</a>.
        </video>
        <p>
            <a class="btn btn-primary btn-large" href="{% url challenge_list %}">{% trans "Find a Challenge" %}</a>
            <a class="btn btn-primary btn-large" href="{% url organization_list %}">{% trans "Find an Organization" %}</a>
        </p>
    </div>
{% endblock %}
