<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>oDesk - Maintenance period</title>
  <style type="text/css">*{font-family: Tahoma;}</style>
  <meta http-equiv="Content-Language" content="en-us" />
  <meta name="robots" content="noarchive" />
</head>
<body>
<div style="padding: 30px;">
<img src="http://odesk.files.wordpress.com/2009/06/logo.png" alt="Changing How the World Works." />  Changing How the World Works.
<h2>The site is currently down for maintenance.</h2>
<p>
We apologize for the inconvenience. The site will be back up shortly. For more
information you can check the <a href="http://odesk-translation.blogspot.com/">maintenance blog</a>.
</p>
<p>
<strong>Note to Providers:</strong> This outage will not affect your ability to work.
<ul>
  <li>You can continue to log time to the last team you were logged into - your oDesk Team client will cache the time, memos and screenshots, and will upload to the server when the connection is restored.</li>
  <li>If you need to log into a different team, you can add offline time later.</li>
  <li>Please check your Work Diary later today or tomorrow to make any necessary adjustments.</li>
</ul>
<hr />
<p>
  &copy; 2010 oDesk.
</p>
</div>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ?
  "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost +
  "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-30041-7");
  pageTracker._setDomainName(".odesk.com");
  pageTracker._trackPageview();
</script>
</body>
</html>
