{% load i18n %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}Participe{% endblock %}</title>

        <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.9.1.js"></script>
        <script src="http://ajax.microsoft.com/ajax/jquery.ui/1.10.0/jquery-ui.js"></script>
        <script src="http://cachedcommons.org/cache/modernizr/1.5.0/javascripts/modernizr.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/timepicker/jquery.ui.timepicker.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
        <script src="http://connect.facebook.net/en_US/all.js"></script>
            
        <link href="http://ajax.microsoft.com/ajax/jquery.ui/1.8.5/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-responsive.css" type="text/css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/participe.css" type="text/css" />

        <script type="text/javascript">
        </script>

        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
        {% block extra_style %}{% endblock %}
        {% block extra_script %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block container %}
        <div class="container">
            <noscript style="font-family:Verdana;font-size:10px;font-weight:bold;color:red;width:100%;">
                Javascript must be enabled to properly navigate this site.
            </noscript>

            {% block header %}
                <a href="/"><img src="{{ MEDIA_URL }}img/logo_285x93.jpg" alt="participe logo"/></a>
                <div class="pull-right">
                    <form class="form-inline" id="locale" action="/i18n/setlang/" method="POST">{% csrf_token %}
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                {% if user.is_authenticated %}
                                    <a class="btn" href='/accounts/profile/view/'>{% trans "My profile" %}</a>
                                    <a class="btn" href='/accounts/logout/'>{% trans "Log out" %}</a>
                                {% else %}
                                    <a class="btn" href="{% url socialauth_begin 'facebook' %}?{{ redirect_querystring }}">
                                        <img src="{{ MEDIA_URL }}img/footer-link-fb.png" alt="{% trans "login with facebook" %}">
                                        Connect with Facebook
                                    </a>
                                    <a class="btn" href='/accounts/signup/'>{% trans "No account yet?" %}</a>
                                    <a class="btn" href='/accounts/login/'>{% trans "Log in" %}</a>
                                {% endif %}
                                <select name="language" class="input-small" onchange="document.forms['locale'].submit();">
                                    {% for lang in LANGUAGES %}
                                        {% if lang.0 == LANGUAGE_CODE %}
                                            <option value="{{ lang.0 }}" selected="selected">{{ lang.1 }}</option>
                                        {% else %}
                                            <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <input type="submit" class="btn-primary" value="{% trans 'change' %}" style="display:none;" />
                            </div>
                        </div>
                    </form>
                </div>
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block footer %}
            <div class="row">
                <div class="span12">
                    <div class="well">
                        <div class="row">
                            <div class="span3">
                                <ul class="popover-content">
                                    <li><a href="/about/for_organizers/">For Organizers</a></li>
                                    <li><a href="/about/for_partners/">For Partners</a></li>
                                    <li><a href="/about/for_media/">For Media</a></li>
                                </ul>
                            </div>
                            <div class="span3">
                                <ul class="popover-content">
                                    <li><a href="/about/fork_us/">Fork us on GitHub</a></li>
                                    <li><a href="/about/privacy_policy/">Privacy Policy</a></li>
                                    <li><a href="/about/tnc/">Terms and Conditions</a></li>
                                </ul>
                            </div>
                            <div class="span3">
                                <ul class="popover-content">
                                    <li><a href="/about/feedback/">Feedback</a></li>
                                    <li><a href="/about/team/">Team</a></li>
                                    <li><a href="/about/join_us/">Join us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
        {% endblock %}

        <script src="{{ MEDIA_URL }}js/bootstrap-transition.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap-alert.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap-modal.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap-dropdown.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap-scrollspy.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap-tab.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap-tooltip.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap-popover.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap-button.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap-collapse.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap-carousel.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap-typeahead.js"></script>
    </body>
</html>
