<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8;" />
        <title>{% block title %}Participe{% endblock %}</title>

        <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" />
        <!--><script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1-1.4.3.min.js"></script></-->

        <script type="text/javascript">
        </script>

        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
        {% block extrastyle %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% block container %}
            <div id="" class="">
                <noscript style="font-family:Verdana;font-size:10px;font-weight:bold;color:red;width:100%;">
                    Javascript must be enabled to properly navigate this site.
                </noscript>
            </div>

            {% block header %}
            <img src="{{ MEDIA_URL }}img/logo_285x93.jpg"/>
            {% endblock %}

            {% block links %}
                {% if user.is_authenticated %}
                    {{ user }}
                    <a href='/accounts/logout/'>Log out</a>
                {% else %}
                    <a href='/accounts/login/'>Log in</a>
                    <a href='/accounts/signup/'>Sign up</a>
                {% endif %}
            {% endblock %}
            
            {% block content %}
            {% endblock %}

            {% block footer %}
            {% endblock %}
        {% endblock %}
    </body>
</html>

