{% extends 'organization_base.html' %}
{% load i18n %}

{% block title %}{% trans "Organization details" %} - {{ block.super }}{% endblock %}
{% load thumbnail %}

{% block extra_content %}
    <div class="row">
        <div class="span6">
            <div class="well">
                <h1>
                    {{ organization.name }}
                </h1>
                <img src="{{ organization.avatar|default:'img/default.jpg'|thumbnail_url:'span6_wide' }}" alt="{{ organization.name}} logo image">
                <p>
                    <blockquote>
                        {{ organization.description }}
                    </blockquote>
                </p>
                <address>
                    <strong>{{ organization.address_1 }}</strong><br>
                    {% if organization.address_2 %}
                        {{ organization.address_2 }}<br>
                    {% endif %}
                    {{ organization.postal_code }} {{ organization.city }}<br>
                    {{ organization.country.name }}<br>
                    {{ organization.email}}<br>
                    <a href="{{ organization.website }}">Webseite</a><br>
                </address>
                <div class="row">
                    <div class="span3">
                        <h4>{% trans "Contact person" %} </h4>
                        {% if organization.is_contact_person %}
                            <a href="{% url view_profile organization.contact_person.pk %}">{{ organization.contact_person.get_full_name }}</a>
                        {% else %}
                            <address>
                                <strong>{{ organization.alt_person_fullname }}</strong><br>
                                {{ organization.alt_person_email }} <br>
                                {{ organization.alt_person_phone }} <br>
                            </address>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="well">
                <h5>{% trans "Put iFrame to this Organization on your site" %}</h5>
                <pre class="prettyprint">
&lt;iframe src="http://{{ request.get_host }}{% url organization_iframe_upcoming organization.pk %}" name="iframe" width="400" height="200" align="right" scrolling="auto"&gt;
    &lt;p&gt;{% trans "iFrame is not supproted" %}&lt;/p&gt;
&lt;/iframe&gt;
                </pre>
                <iframe src="{% url organization_iframe_upcoming organization.pk %}" name="iframe" width="400" height="200" align="right" scrolling="auto">
                    <p>{% trans "Not supproted" %}</p>
                </iframe>
            </div>

            <div class="well">
                <h5>{% trans "Put iFrame to this Organization on your site" %}</h5>
                <pre class="prettyprint">
&lt;iframe src="http://{{ request.get_host }}{% url organization_iframe_completed organization.pk %}" name="iframe" width="400" height="200" align="right" scrolling="auto"&gt;
    &lt;p&gt;{% trans "Not supproted" %}&lt;/p&gt;
&lt;/iframe&gt;
                </pre>
                <iframe src="{% url organization_iframe_completed organization.pk %}" name="iframe" width="400" height="200" align="right" scrolling="auto">
                    <p>{% trans "iFrame is not supproted" %}</p>
                </iframe>
            </div>
        </div>

        <div class="span6">
            <div class="well">
                <h3>{% trans "Upcoming challenges" %}</h3>
                <ul class="thumbnails">
                    {% for challenge in upcoming_challenges %}
                        <li class="span2">
                            <a class="thumbnail well" href="{% url challenge_detail challenge.pk %}">
                                <img src="{% thumbnail challenge.avatar|default:'img/default.jpg' 130x130 crop %}" alt="{{ challenge.name }}">
                                <h4>{{ challenge.name }}</h4>
                            </a>
                        </li>
                    {% empty %}
                    <p>
                        <li><span class="label label-info">{% trans "No upcoming challenges" %}</span><br>
                        {% trans "This organization has no upcoming challenges at the moment" %}</li>
                    </p>
                    {% endfor %}
                </ul>
            </div>

            <div class="well">
                <h3>{% trans "Past challenges" %}</h3>
                <ul class="thumbnails">
                    {% for challenge in completed_challenges %}
                        <li class="span2">
                            <a class="thumbnail well" href="{% url challenge_detail challenge.pk %}">
                                <img src="{% thumbnail challenge.avatar|default:'img/default.jpg' 130x130 crop %}" alt="{{ challenge.name }}">
                                <h4>{{ challenge.name }}</h4>
                            </a>
                        </li>
                    {% empty %}
                    <p>
                        <li><span class="label label-info">{% trans "No past challenges" %}</span><br>
                        {% trans "This organization has no past challenges at the moment" %}</li>
                    </p>
                    {% endfor %}
                </ul>
            </div>

            <div class="well">
                <h3>{% trans "Staff" %}</h3>
                <p>{% trans "These users can create challenges in the name of this organization" %}</p>
                <ul class="row thumbnails">
                    {% for user in affiliated_users %}
                        <li class="span2">
                            <a class="thumbnail well" href="{% url view_profile user.pk %}">
                                {% for profile in user.userprofile_set.all %}
                                    <img src="{% thumbnail profile.avatar|default:'img/default.jpg' 130x130 crop %}" alt="{{ user.get_full_name }}">
                                {% endfor %}
                                <h4>{{ user.get_full_name }}</h4>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
