{% extends 'organization_base.html' %}
{% load i18n %}

{% block title %}{% trans "Organizations list" %} - {{ block.super }}{% endblock %}
{% load thumbnail %}

{% block extra_content %}
    <a class="btn" href="/organizations/create/">{% trans "Create new organization" %}</a>
    <ul>
    {% for organization in organizations %}
        <li style="vertical-align:top; text-align:center; max-width:100px; display:inline-block;">
            <div><a href="{{ organization.get_absolute_url }}"><img src="{% thumbnail organization.avatar|default:'img/default.jpg' 100x100 crop %}" alt="">
                <br/>{{ organization.name }}
                {% if organization.is_contact_person %}
                    <br/>({{ organization.contact_person.get_full_name }})
                {% endif %}
            </a></div>
        </li>
    {% empty %}
        <p>{% trans "There are no organizations" %}</p>
    {% endfor %}
    </ul>
{% endblock %}
