{% extends 'organization_base.html' %}
{% load i18n %}

{% block title %}{% trans "Organizations list" %} - {{ block.super }}{% endblock %}
{% load thumbnail %}

{% block extra_content %}
    {% for organization in organizations %}
        <div class="row">
            <div class="span12">
                <div class="well">
                    <a href="{{ organization.get_absolute_url }}">
                        <h3>{{ organization.name }}</h3>
                        <img src="{{ organization.avatar|default:'img/default.jpg'|thumbnail_url:'span12_wide' }}" alt="">
                    </a>
                    <p>
                        <blockquote>
                            {{ organization.description }}
                        </blockquote>
                    </p>
                    {% if organization.challenge_set.all %}
                        <div class="row">
                            {% with challenges=organization.challenge_set.all %}
                                <div class="span12">
                                    <h4>{% trans "Current Challenges" %}</h4>
                                    <ul class="thumbnails">
                                        {% for challenge in challenges|slice:":6"|dictsort:"start_date" %}
                                            <li class="span2">
                                                <a class="thumbnail" href="{{ challenge.get_absolute_url }}">
                                                    <img src="{% thumbnail challenge.avatar|default:'img/default.jpg' 150x150 crop %}" alt="{{ challenge.name }}">
                                                    <strong>
                                                        {{ challenge.name }}
                                                    </strong>
                                                    <p>
                                                        <small>
                                                            {{ challenge.start_date|date:"l j. F o" }}<br>
                                                            {{ challenge.location }}
                                                        </small>
                                                    </p>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% if challenges.count > 6 %}
                                        <a href="{{ organization.get_absolute_url }}">... show {{ challenges.count|add:"-6" }} more challenge(s)</a></td>
                                    {% endif %}
                                </div>
                            {% endwith %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
