{% extends 'organization_base.html' %}
{% block title %}Create organization - {{ block.super }}{% endblock %}

{% block extra_content %}
    <form action="." class="well" method="post">{% csrf_token %}
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span4">
                        <div {% if form.name.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ form.name }}{{ form.name.errors }}</div>
                        <div {% if form.address_1.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ form.address_1 }}</div>
                        <div {% if form.address_2.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ form.address_2 }}</div>
                        <div {% if form.postal_code.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ form.postal_code }}</div>
                        <div {% if form.city.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ form.city }}</div>
                        <div {% if form.country.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ form.country }}{{ form.country.errors }}</div>
                    </div>                    
                    <div class="span4">
                        <div {% if form.description.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ form.description }}</div>
                        <div class="input">Contact person: </div>
                        <div class="input">{{ form.is_contact_person }} {{ user.get_full_name }} ({{ user.username }})</div>
                        <div class="input">{{ form.is_alt_person }} Affiliate different person</div>
                        <div {% if form.alt_person_fullname.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ form.alt_person_fullname }}</div>
                        <div {% if form.alt_person_email.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ form.alt_person_email }}</div>
                        <div {% if form.alt_person_phone.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ form.alt_person_phone }}</div>
                    </div>                    
                    <div class="span4">
                        <div {% if form.website.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ form.website }}</div>
                        <div {% if form.video.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ form.video }}</div>
                        <div {% if form.email.errors %}class="control-group error"{% else %}class="input"{% endif %}>{{ form.email }}</div>
                    </div>
                </div>   
                <input type="submit" class="btn-primary" value="Create this organization" />
            </div>        
        </div>     
    </form>
{% endblock %}
