{% extends 'organization_base.html' %}
{% load i18n %}

{% block title %}{% trans "Organization details" %} - {{ block.super }}{% endblock %}
{% load thumbnail %}

{% block extra_content %}
    <div class="row">
        <div class="span12">
            <div class="well">
                <img src="{% thumbnail organization.avatar|default:'img/default.jpg' 0x200 %}" alt="">
                <h1>
                    {{ organization.name }}
                </h1>
                <blockquote>
                    {{ organization.description }}
                </blockquote>
                <address>
                    <strong>{{ organization.address_1 }}</strong><br>
                    {% if organization.address_2 %}
                        {{ organization.address_2 }}<br>
                    {% endif %}
                    {{ organization.postal_code }} {{ organization.city }}<br>
                    {{ organization.country.name }}<br>
                </address>
                <div class="row">
                    <div class="span3">
                        <h4>{% trans "Contact person" %} </h4>
                        {% if organization.is_contact_person %}
                            <a href="{% url view_profile organization.contact_person.pk %}">{{ organization.contact_person.get_full_name }}</a>
                        {% else %}
                            <address>
                                <strong>{{ organization.alt_person_fullname }}</strong><br>
                                {{ organization.alt_person_email }} <br>
                                {{ organization.alt_person_phone }} <br>
                            </address>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="well">
                <h2>
                    {% trans "Administrators of of {{ organization.name }} on Participe" %} </b></div>
                        <ul>
                            {% for auser in affiliated_users %}
                                <li style="vertical-align:top; text-align:center; max-width:100px; display:inline-block;">
                                    <div><a href="{% url view_profile auser.pk %}">
                                        {% for profile in auser.userprofile_set.all %}
                                        <img src="{% thumbnail profile.avatar|default:'img/default.jpg' 50x50 crop %}" alt="{{ auser.get_full_name }}" title="{{ auser.get_full_name }}">
                                        {% empty %}
                                        <img src="{% thumbnail 'img/default.jpg' 100x100 %}" alt="{{ auser.get_full_name }}" title="{{ auser.get_full_name }}">
                                        {% endfor %}
                                    </a></div>
                                </li>
                            {% endfor %}
                            </ul>
                    </div>
                    <div class="span3">
                        <div class=""><b>{% trans "Web site:" %} </b>{{ organization.website }}</div>
                        <div class=""><b>{% trans "Video:" %} </b>{{ organization.video }}</div>
                        <div class=""><b>{% trans "E-mail:" %} </b>{{ organization.email }}</div>
                    </div>
                    <div class="span3">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
