{% load i18n %}
{% load thumbnail %}
<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.css" type="text/css" />
        <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.9.1.js"></script>
        {#<link rel="stylesheet/less" type="text/css" href="{{ MEDIA_URL }}css/lib/bootstrap.less" />#}
        {#<script src="{{ MEDIA_URL }}js/less-1.1.5.min.js" type="text/javascript"></script>#}
    </head>
    <body>
        <a href="#" onclick="window.top.location.href='http://{{ request.get_host }}'"><img src="{{ 'img/logo_285x93.jpg'|default:'img/default.jpg'|thumbnail_url:'span2_thumb' }}" alt="participe logo"/></a>
        <a href="#" onclick="window.top.location.href='http://{{ request.get_host }}{{ organization.get_absolute_url }}'"><img src="{{ organization.avatar|default:'img/default.jpg'|thumbnail_url:'span2_thumb' }}" alt="{{ organization.name}}"/></a>

        {% if challenges_upcoming %}
        <h5>{{ organization.name }} {% trans "upcoming challenges on Participe" %}:</h5>
            <table class="table condensed-table">
            {% for challenge in challenges_upcoming %}
                <tr>
                    <td><a class="" href="#" onclick="window.top.location.href='{{ challenge.get_absolute_url }}'"><img src="{% thumbnail challenge.avatar|default:'img/default.jpg' 50x50 crop %}" alt="{{ challenge.name}}" /></a></td>
                    <td><a class="" href="#" onclick="window.top.location.href='{{ challenge.get_absolute_url }}'">{{ challenge.name }}</a></td>
                    <td>{{ challenge.start_date }}</td>
                    <td><span class="label label-info">{{ challenge.duration }}h</span></td>
                    <td><span class="badge badge-success">{{ challenge.get_confirmed_count }}</span></td>
                </tr>
            {% empty %}
                <tr>
                    <span class="label label-info">{% trans "This organization has no open challenges at the moment" %}</span>
                </tr>
            {% endfor %}
            </table>
        {% endif %}

        {% if challenges_completed %}
            <h5>{{ organization.name }} {% trans "past challenges on Participe" %}:</h5>
            <table class="table condensed-table">
            {% for challenge in challenges_completed %}
                <tr>
                    <td><a class="" href="#" onclick="window.top.location.href='{{ challenge.get_absolute_url }}'"><img src="{% thumbnail challenge.avatar|default:'img/default.jpg' 50x50 crop %}" alt="{{ challenge.name}}" /></a></td>
                    <td><a class="" href="#" onclick="window.top.location.href='{{ challenge.get_absolute_url }}'">{{ challenge.name }}</a></td>
                    <td>{{ challenge.start_date }}</td>
                    <td><span class="label label-info">{{ challenge.duration }}h</span></td>
                    <td>
                        {% for participation in challenge.get_acknowledged_qs %}
                        <a href="#" onclick="window.top.location.href='{% url view_profile participation.user.pk %}'"><img src="{% thumbnail participation.user.get_profile.avatar|default:'img/default.jpg' 50x50 crop %}" alt="{{ participation.user.get_full_name }}" title="{{ participation.user.get_full_name }}"/></a>
                        {% endfor %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <span class="label label-info">{% trans "This organization has no open challenges at the moment" %}</span>
                </tr>
            {% endfor %}
            </table>
            {% if organization.get_hours_worked %}
                <p><b>{% trans "Total number of hours worked for the organization" %}:</b> <span class="label label-info">{{ organization.get_hours_worked }}h</span></p>
            {% endif %}
        {% endif %}
    </body>
</html>