{% extends 'organization_base.html' %}
{% load i18n %}

{% block title %}{% trans "Organization details" %} - {{ block.super }}{% endblock %}
{% load thumbnail %}

{% block extra_content %}
    <div class="row">
        <div class="span6">
            <div class="well">
                <img src="{% thumbnail organization.avatar|default:'img/default.jpg' 0x200 %}" alt="">
                <h1>
                    {{ organization.name }}
                </h1>
                <blockquote>
                    {{ organization.description }}
                </blockquote>
                <address>
                    <strong>{{ organization.address_1 }}</strong><br>
                    {% if organization.address_2 %}
                        {{ organization.address_2 }}<br>
                    {% endif %}
                    {{ organization.postal_code }} {{ organization.city }}<br>
                    {{ organization.country.name }}<br>
                    {{ organization.email}}<br>
                    {{ organization.website }}<br>
                </address>
                <div class="row">
                    <div class="span3">
                        <h4>{% trans "Contact person" %} </h4>
                        {% if organization.is_contact_person %}
                            <a href="{% url view_profile organization.contact_person.pk %}">{{ organization.contact_person.get_full_name }}</a>
                        {% else %}
                            <address>
                                <strong>{{ organization.alt_person_fullname }}</strong><br>
                                {{ organization.alt_person_email }} <br>
                                {{ organization.alt_person_phone }} <br>
                            </address>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="span6">
            <h3>{% trans "Administrators" %}</h3>
            <ul class="row thumbnails">
                {% for user in affiliated_users %}
                    <li class="span2">
                        <a class="thumbnail well" href="{% url view_profile user.pk %}">
                            {% for profile in user.userprofile_set.all %}
                                <img src="{% thumbnail profile.avatar|default:'img/default.jpg' 130x130 crop %}" alt="{{ user.get_full_name }}">
                            {% endfor %}
                            <h4>{{ user.get_full_name }}</h4>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <h3>{% trans "Challenges" %}</h3>
            <ul class="thumbnails">
                {% for challenge in challenges %}
                    <li class="span2">
                        <a class="thumbnail well" href="{% url challenge_detail challenge.pk %}">
                            <img src="{% thumbnail challenge.avatar|default:'img/default.jpg' 130x130 crop %}" alt="{{ challenge.name }}">
                            <h4>{{ challenge.name }}</h4>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
