{% extends 'challenge_base.html' %}
{% load i18n %}

{% block title %}{% trans "Challenges list" %} - {{ block.super }}{% endblock %}
{% load thumbnail %}

{% block extra_content %}
    <a class="btn" href="/challenges/create/">{% trans "Create new challenge" %}</a>
    <ul>
    {% for challenge in challenges %}
        <li style="vertical-align:top; text-align:center; max-width:100px; display:inline-block;">
            <div><a href="{{ challenge.get_absolute_url }}"><img src="{% thumbnail challenge.avatar|default:'img/default.jpg' 100x100 crop %}" alt="">
                <br/>{{ challenge.name }}
                {% if challenge.organization %}
                    <br/>({{ challenge.organization }})
                {% endif %}
            </a></div>
        </li>
    {% empty %}
        <p>{% trans "There are no active challenges" %}</p>
    {% endfor %}
    </ul>
{% endblock %}
