{% extends 'challenge_base.html' %}
{% load i18n %}

{% block title %}{% trans "Challenge details" %} - {{ block.super }}{% endblock %}
{% load thumbnail %}

{% block extra_content %}
    <div class="row ">
        <div class="span12">
            <div class="well">
                <div class="pull-right">
                    <div class="span3">
                        {% with "facebook" as service %}
                            <a href="http://www.facebook.com/share.php?u={{ host }}{{ page_url }}&amp;t={{ title }}" target="_blank" title="{{ share_txt }} {{ service }}">
                                <img src="{{ MEDIA_URL }}img/share_on_FB.jpg" alt="{{ share_txt }} {{ service }}"/>
                        </a>
                        {% endwith %}
                        {% if is_admin %}
                                    <p><a class="btn" href="{{ challenge.get_edit_url }}">{% trans "Edit challenge" %}</a></p>
                        {% endif %}
                    </div>
                </div>
                <img src="{% thumbnail challenge.avatar|default:'img/default.jpg' 100x100 crop %}" alt="">
                <h1>{{ challenge.name }} ({{ challenge.duration }}h)</h1>
                <p>
                    {% trans "On" %} {{ challenge.start_date }} 
                    {% trans "at" %} {{ challenge.start_time|date:"G:i" }} 
                    {% trans "in" %} {{ challenge.location }}
                    {% if challenge.confirmation_required %}
                        <span class="label">{% trans "Confirmation required" %}</span>
                    {% endif %}
                </p>
                <p>
                    {% trans "Organized by" %} 
                    <a href="{{ challenge.organization.get_absolute_url }}">{{ challenge.organization.name }}</a>
                </p>
                <blockquote>
                    <p>{{ challenge.description }}</p>
                </blockquote>

                <div class="row">
                    <div class="span3">
                        <h4>{% trans "Contact person" %} </h4>
                        {% if challenge.is_contact_person %}
                            <a href="{% url view_profile challenge.contact_person.pk %}">{{ challenge.contact_person.get_full_name }}</a>
                        {% else %}
                            <address>
                                <strong>{{ challenge.alt_person_fullname }}</strong><br>
                                {{ challenge.alt_person_email }} <br>
                                {{ challenge.alt_person_phone }} <br>
                            </address>
                        {% endif %}
                    </div>
                    <div class="span3">
                        {% if user.is_authenticated %}
                            {% if participation %}
                                <h4>{% trans "Your application"%}</h4>
                                <div>
                                    {% if participation.status == "0" %}
                                        <img src="{{ MEDIA_URL }}img/warning.png">
                                    {% elif participation.status == "1" %}
                                        <img src="{{ MEDIA_URL }}img/remove.png">
                                    {% elif participation.status == "2" %}
                                        <img src="{{ MEDIA_URL }}img/perm_yes.png">
                                    {% else %}
                                        <img src="{{ MEDIA_URL }}img/stop.png">
                                    {% endif %}
                                    <span>{{ participation.stat_participation_status_name }}</span>
                                </div>
                            {% endif %}

                            {% if form %}
                                <input id="signup-btn" name="signup-btn" type="button" class="btn" value="{% trans "Participe in this Challenge" %}">
                                <div id="signup-form">
                                    <form action="." method="post">{% csrf_token %}
                                        {% if challenge.application == "1" %}
                                            <div class="input">{{ form.application_text }}</div>
                                        {% endif %}
                                        <div class="input"><span>{% trans "Share on Facebook" %}</span> {{ form.share_on_FB }}</div>
                                        <br/>
                                        <p>{% trans "By clicking 'Participate', you agree to participate in this challenge" %}</p>
                                        <input type="submit" class="btn-primary" value="{% trans 'Participate' %}" /><input id="cancel-btn" name="cancel-btn" type="button" class="btn" value="{% trans 'Cancel' %}">
                                    </form>
                                </div>
                            {% endif %}

                        {% else %}
                            <div>
                                <img src="{{ MEDIA_URL }}img/warning.png">
                                <b>{% trans "Only registered users can sign-up to Challenge" %}</b>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="well">
                <h3>{% trans "Participants" %}</h3>
                <table class="table table-striped">
                    {% for participation in confirmed %}
                        <tr>
                            {% for profile in participation.user.userprofile_set.all %}
                                <td style="min-width:50px;"><a href="{% url view_profile participation.user.pk %}"><img src="{% thumbnail profile.avatar|default:'img/default.jpg' 50x50 crop %}" alt=""></a></td>
                            {% endfor %}
                            <td><a href="{% url view_profile participation.user.pk %}">{{ participation.user.get_full_name }}</a></td>
                            {% if is_admin %}
                                <td><a href="#"><input class="btn" type="button" value="Reject"></a></td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <p>{% trans "No participants yet" %}</p>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    {% if waited %}
        <div class="row">
            <div class="span12">
                <div class="well">
                    <h3>{% trans "People waiting for participation" %}</h3>
                    <table>
                        {% for participation in waited %}
                            <tr>
                                {% for profile in participation.user.userprofile_set.all %}
                                    <td style="min-width:50px;"><a href="{% url view_profile participation.user.pk %}"><img src="{% thumbnail profile.avatar|default:'img/default.jpg' 50x50 crop %}" alt=""></a></td>
                                {% endfor %}
                                <td><a href="{% url view_profile participation.user.pk %}">{{ participation.user.get_full_name }}</a></td>
                                {% if is_admin %}
                                    <td><a href="{% url participation_accept participation.pk %}"><input type="button" value="Accept"></a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="span12">
            <div class="well">
                <h3>{% trans "Comments" %}</h3>
                    {% for comment in comments %}
                            <blockquote class="">
                                <p>{{ comment.text }}</p>
                                <small>
                                    <a href="{% url view_profile comment.user.pk %}">{{ comment.user.get_full_name }}</a>
                                    {{ comment.created_at }}
                                </small>
                                {% if user == comment.user or is_admin%}
                                    <a href="{% url comment_delete comment.pk %}"><input type="button" value="Delete"></a>
                                {% endif %}
                            </blockquote>
                    {% endfor %}
                <div>
                    <input id="add-comment-btn" type="button" value="Add a comment">
                </div>
            </div>
        </div>
    </div>

    <div id="add-comment-dialog">
        <form id="add-comment-form" action="{% url comment_add %}" method="post">{% csrf_token %}
            <textarea id="comment" name="comment" rows="5" cols="20"></textarea>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#signup-form").hide();
            $("#signup-btn").click(function(){
                $("#signup-btn").hide();
                $('#signup-form').show("slow");
                return false;
            });
            $("#cancel-btn").click(function(){
                $('#signup-form').hide("slow");
                $("#signup-btn").show("slow");
                return false;
            });

            //Leave a comment
            $("#add-comment-dialog").dialog({
                autoOpen: false,
                draggable: true,
                resizable: false,
                modal: true,
                buttons: {
                    "Add": function(){
                        var challenge_id = $("<input>").attr("type", "hidden").attr("name", "challenge_id").val({{ challenge.pk }});
                        $("#add-comment-form").append($(challenge_id));
                        $("#add-comment-form").submit();   
                    },
                    "Close": function(){
                        $(this).dialog('close');   
                    }
                }
            });

            $('input[id="add-comment-btn"]').click(function(){
                $("#add-comment-dialog").dialog("open");
            });
        });
    </script>
{% endblock %}
