{% extends 'challenge_base.html' %}
{% load i18n %}

{% block title %}{% trans "Challenge details" %} - {{ block.super }}{% endblock %}
{% load thumbnail %}

{% block extra_content %}
    <div class="row ">
        <div class="span12">
            <div class="well">
                <div class="pull-right">
                    <div class="span3">
                        {% if user.social_auth.all %}
                            {% with "facebook" as service %}
                                <a href="http://www.facebook.com/share.php?u={{ request.build_absolute_uri }}&amp;t={{ challenge.name }}" target="_blank" title="Share on {{ service }}">
                                    <img src="{{ MEDIA_URL }}img/share_on_FB.jpg" alt="Share on {{ service }}"/>
                                </a>
                            {% endwith %}
                        {% endif %}
                        <strong>{% trans "Direct link to challenge" %}</strong>
                        <input type="text" readonly="readonly" value="{{ request.build_absolute_uri }}"/>
                        {% if is_admin %}
                            <p><a class="btn" href="{{ challenge.get_edit_url }}">{% trans "Edit challenge" %}</a></p>
                        {% endif %}
                    </div>
                </div>
                <img src="{% thumbnail challenge.avatar|default:'img/default.jpg' 00x200 %}" alt="">
                <p>
                    <h1>
                        {{ challenge.name }} ({{ challenge.duration }}h)
                    </h1>
                </p>
                <p>
                    {{ challenge.start_date }} 
                    | {{ challenge.start_time|date:"G:i" }} 
                    | {{ challenge.location }}
                </p>
                {% if challenge.organization %}
                    <p>
                        {% trans "Organized by" %} 
                        <a href="{{ challenge.organization.get_absolute_url }}">{{ challenge.organization.name }}</a>
                    </p>
                {% endif %}
                <blockquote>
                    <p>{{ challenge.description }}</p>
                </blockquote>
                {% if challenge.confirmation_required %}
                    <p>
                        <span class="label">{% trans "Confirmation required" %}</span>
                    </p>
                {% endif %}

                <div class="row">
                    <div class="span3">
                        <h4>{% trans "Contact person" %} </h4>
                        {% if challenge.is_contact_person %}
                            <a href="{% url view_profile challenge.contact_person.pk %}">{{ challenge.contact_person.get_full_name }}</a>
                        {% else %}
                            <address>
                                <strong>{{ challenge.alt_person_fullname }}</strong><br>
                                {{ challenge.alt_person_email }} <br>
                                {{ challenge.alt_person_phone }} <br>
                            </address>
                        {% endif %}
                    </div>
                    <div class="span3">
                        {% if user.is_authenticated %}
                            {% if participation %}
                                <h4>{% trans "Your application"%}</h4>
                                <div>
                                    {% if participation.status == PARTICIPATION_STATE.WAITING_FOR_CONFIRMATION %}
                                        <img src="{{ MEDIA_URL }}img/warning.png">
                                        <input id="withdraw-btn" name="withdraw-btn" type="button" class="btn" value="{% trans "Withdraw application" %}">
                                    {% elif participation.status == PARTICIPATION_STATE.CONFIRMATION_DENIED %}
                                        <img src="{{ MEDIA_URL }}img/remove.png">
                                    {% elif participation.status == PARTICIPATION_STATE.CONFIRMED%}
                                        <img src="{{ MEDIA_URL }}img/perm_yes.png">
                                        <input id="withdraw-btn" name="withdraw-btn" type="button" class="btn" value="{% trans "Withdraw application" %}">
                                    {% else %}
                                        <img src="{{ MEDIA_URL }}img/stop.png">
                                    {% endif %}
                                    <span>{{ participation.stat_participation_status_name }}</span>
                                </div>
                                {% if participation.status == PARTICIPATION_STATE.CONFIRMED or participation.status == PARTICIPATION_STATE.WAITING_FOR_CONFIRMATION %}
                                    <form id="withdraw-form" action="." method="post">{% csrf_token %}
                                        <div class="input">
                                            <textarea id="text" name="text" placeholder="{% trans "Reason for withdrawing" %}"></textarea>
                                        </div>
                                        <div>
                                            <input id="withdraw" name="withdraw" type="button" class="btn-primary" value="{% trans "Withdraw" %}" />
                                            <input id="cancel-btn" name="cancel-btn" type="button" class="btn" value="{% trans "Cancel" %}">
                                        </div>
                                    </form>
                                {% endif %}
                            {% endif %}

                            {% if form %}
                                <input id="signup-btn" name="signup-btn" type="button" class="btn" value="{% trans "Participe in this Challenge" %}">
                                <div id="signup-form">
                                    <form action="." method="post">{% csrf_token %}
                                        {% if challenge.application == "1" %}
                                            <div class="input">{{ form.application_text }}</div>
                                        {% endif %}
                                        <div class="input"><span>{% trans "Share on Facebook" %}</span> {{ form.share_on_FB }}</div>
                                        <br/>
                                        <p>{% trans "By clicking 'Participate', you agree to participate in this challenge" %}</p>
                                        <input type="submit" class="btn-primary" value="{% trans 'Participate' %}" /><input id="cancel-btn" name="cancel-btn" type="button" class="btn" value="{% trans 'Cancel' %}">
                                    </form>
                                </div>
                            {% endif %}

                        {% else %}
                            <div>
                                <img src="{{ MEDIA_URL }}img/warning.png">
                                <b>{% trans "Only registered users can sign-up to Challenge" %}</b>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>{% trans "Participants" %}</h3>
    <ul class="thumbnails">
        {% for participation in confirmed %}
            <li class="span2">
                {% if is_admin %}
                    <div class="thumbnail well">
                        <a href="{% url view_profile participation.user.pk %}">
                            {% for profile in participation.user.userprofile_set.all %}
                                <img src="{% thumbnail profile.avatar|default:'img/default.jpg' 130x130 crop %}" alt="{{ particiation.user.get_full_name }}">
                            {% endfor %}
                            <h4>{{ participation.user.get_full_name }}</h4>
                        </a>
                        <a href="#" onclick="send_remove_form()">
                            <input type="button" class="btn" participation="{{ participation.pk }}" value="Remove">
                        </a>
                    </div>
                {% else %}
                    <a class="thumbnail well" href="{% url view_profile participation.user.pk %}">
                        {% for profile in participation.user.userprofile_set.all %}
                            <img src="{% thumbnail profile.avatar|default:'img/default.jpg' 130x130 crop %}" alt="{{ particiation.user.get_full_name }}">
                        {% endfor %}
                        <h4>{{ participation.user.get_full_name }}</h4>
                    </a>
                {% endif %}
            </li>
        {% empty %}
            <li>{% trans "No participants yet" %}</li>
        {% endfor %}
    </ul>

    {% if waited and is_admin %}
        <h3>{% trans "People waiting for confirmation" %}</h3>
        <ul class="thumbnails">
            {% for participation in waited %}
                <li class="span3">
                    <div class="thumbnail well">
                        <a href="{% url view_profile participation.user.pk %}">
                            {% for profile in participation.user.userprofile_set.all %}
                                <img src="{% thumbnail profile.avatar|default:'img/default.jpg' 230x150 crop %}" alt="{{ particiation.user.get_full_name }}">
                            {% endfor %}
                            <h4>{{ participation.user.get_full_name }}</h4>
                        </a>
                        <blockquote>
                            {{ participation.application_text }}
                        </blockquote>
                        <a href="{% url participation_accept participation.pk %}">
                            <input type="button" value="{% trans "Accept" %}">
                        </a>
                        <a href="#" onclick="send_remove_form()">
                            <input type="button" participation="{{ participation.pk }}" value="{% trans "Reject" %}">
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        <div class="span12">
            <div class="well">
                <h3>{% trans "Comments" %}</h3>
                    {% for comment in comments %}
                            <blockquote class="">
                                <p>{{ comment.text }}</p>
                                <small>
                                    <a href="{% url view_profile comment.user.pk %}">{{ comment.user.get_full_name }}</a>
                                    {{ comment.created_at }}
                                </small>
                                {% if user == comment.user or is_admin or user.is_staff %}
                                    <a href="{% url comment_delete comment.pk %}"><input type="button" value="Delete"></a>
                                {% endif %}
                            </blockquote>
                    {% endfor %}
                <div>
                    {% if request.user.is_authenticated %}
                        <input id="add-comment-btn" type="button" value="Add a comment">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div id="add-comment-dialog">
        <form id="add-comment-form" action="{% url comment_add %}" method="post">{% csrf_token %}
            <textarea id="comment" name="comment" rows="5" cols="20"></textarea>
        </form>
    </div>

    <div id="remove-participation-dialog">
        <form id="remove-participation-form" action="{% url participation_remove challenge.pk %}" method="post">{% csrf_token %}
            <textarea id="text" name="text" rows="5" cols="20" placeholder="Cancellation/Rejection reason"></textarea>
        </form>
    </div>

    <div id="withdraw-dialog">
        <span>Do you really want to withdraw your application?</span>
    </div>
    
    <script type="text/javascript">
        function send_remove_form(){
            var event = window.event || evt;
            if (!event.target) event.target = event.srcElement
            participation_id = event.target.getAttribute("participation");
            value = event.target.getAttribute("value");
            
            $("#remove-participation-dialog").data("participation_id", participation_id);
            $("#remove-participation-dialog").data("value", value);
            $("#remove-participation-dialog").dialog("open");
        }
        
        $(document).ready(function(){
            $("#signup-form").hide();
            $("#signup-btn").click(function(){
                $("#signup-btn").hide();
                $('#signup-form').show("slow");
                return false;
            });
            $("#cancel-btn").click(function(){
                $('#signup-form').hide("slow");
                $("#signup-btn").show("slow");
                return false;
            });

            //Leave a comment
            $("#add-comment-dialog").dialog({
                autoOpen: false,
                draggable: true,
                resizable: false,
                modal: true,
                buttons: {
                    "Add": function(){
                        var challenge_id = $("<input>").attr("type", "hidden").attr("name", "challenge_id").val({{ challenge.pk }});
                        $("#add-comment-form").append($(challenge_id));
                        $("#add-comment-form").submit();   
                    },
                    "Close": function(){
                        $(this).dialog('close');   
                    }
                }
            });

            $('input[id="add-comment-btn"]').click(function(){
                $("#add-comment-dialog").dialog("open");
            });
            
            //Remove participation (signed participant) or
            //Reject application
            $("#remove-participation-dialog").dialog({
                autoOpen: false,
                draggable: true,
                resizable: false,
                modal: true,
                buttons: {
                    "Proceed": function(){
                        participation_id = $(this).data('participation_id');
                        var input1 = $("<input>").attr("type", "hidden").attr("name", "participation_id").val(participation_id);
                        var input2 = $("<input>").attr("type", "hidden").attr("name", "value").val(value);
                        $("#remove-participation-form").append($(input1));
                        $("#remove-participation-form").append($(input2));
                        $("#remove-participation-form").submit();   
                    },
                    "Close": function(){
                        $(this).dialog('close');   
                    }
                }
            });

            //User withdraws his application
            $("#withdraw-form").hide();
            $("#withdraw-btn").click(function(){
                $("#withdraw-btn").hide();
                $('#withdraw-form').show("slow");
                return false;
            });
            $("#cancel-btn").click(function(){
                $('#withdraw-form').hide("slow");
                $("#withdraw-btn").show("slow");
                return false;
            });

            $("#withdraw-dialog").dialog({
                autoOpen: false,
                draggable: true,
                resizable: false,
                modal: true,
                buttons: {
                    "Withdraw": function(){
                        $("#withdraw-form").submit();   
                    },
                    "Close": function(){
                        $(this).dialog('close');   
                    }
                }
            });

            $('input[id="withdraw"]').click(function(){
                $("#withdraw-dialog").dialog("open");
            });

        });
    </script>
{% endblock %}
