{% extends 'challenge_base.html' %}
{% block title %}Challenges list - {{ block.super }}{% endblock %}

{% block extra_content %}
    <table>
        <form action="create/" method="post">{% csrf_token %}
            <input type="submit" value="Create new challenge" />
        </form>
        
    {% for challenge in challenges %}
        <tr>
            <td><a href="{{ challenge.get_absolute_url }}">{{ challenge.name }}</a></td>
        <tr>
    {% empty %}
        <p>There are no active challenges</p>
    {% endfor %}
    </table>
{% endblock %}
