{% extends 'challenge_base.html' %}
{% load i18n %}

{% block title %}{% trans "Challenge details" %} - {{ block.super }}{% endblock %}
{% load thumbnail %}

{% block extra_content %}
    <p>{% trans "Challenge details" %}</p>
    <div class="well">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        <div class=""><img src="{% thumbnail challenge.avatar|default:'img/default.jpg' 100x100 crop %}" alt=""></div>
                        <div class=""><b>{% trans "Name:" %} </b>{{ challenge.name }}</div>
                        <div class=""><b>{% trans "Description:" %} </b>{{ challenge.description }}</div>
                        <div class=""><b>{% trans "Location:" %} </b>{{ challenge.location }}</div>
                        <div class=""><b>{% trans "Duration:" %} </b>{{ challenge.duration }} {% trans "hours" %}</div>
                        <div class=""><b>{% trans "Affiliated with" %} </b><a href="{{ challenge.organization.get_absolute_url }}">{{ challenge.organization.name }}</a></div>
                    </div>
                    <div class="span3">
                        <div class=""><b>{% trans "Contact person:" %} </b></div>
                        {% if challenge.is_contact_person %}
                            <div class=""><a href="{% url view_profile challenge.contact_person.pk %}">{{ challenge.contact_person.get_full_name }}</a></div>
                        {% else %}
                            <div class="">{{ challenge.alt_person_fullname }}</div>
                            <div class="">{{ challenge.alt_person_email }}</div>
                            <div class="">{{ challenge.alt_person_phone }}</div>
                        {% endif %}
                        <div class=""><b>{% trans "Start date:" %} </b>{{ challenge.start_date }} <b>{% trans "Time:" %} </b>{{ challenge.start_time }}</div>
                        <div class=""><b>{% trans "Application:" %} </b>{{ challenge.stat_application_name }}</div>
                    </div>
                    <div class="span3">
                        <div class=""><b>{% trans "Goodies/Give-aways" %}</b></div>
                    </div>
                    <div class="span3">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
