{% extends "avatar/avatar_base.html" %}
{% load i18n avatar_tags %}

{% block extra_content %}
    <p>{% trans "Your current avatar: " %}</p>
    <div class="well">
        <div class="row">
            <div class="span12">
            {% avatar user %}
            <a href="{% url avatar_crop_default %}">Crop</a>
            {% if not avatars %}
                <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
            {% endif %}
                <form enctype="multipart/form-data" method="POST" action="{% url avatar_add %}">{% csrf_token %}
                    {{ upload_avatar_form.as_p }}
                    <input type="submit" value="{% trans "Upload New Image" %}" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
